ipykernel==6.29.5
google-cloud-aiplatform>=1.38
python-dotenv==1.0.1
langsmith==0.1.93
tavily-python==0.3.5
langchain-google-genai==1.0.8
faiss-cpu==1.8.0.post1

langchain-core==0.2.24
langchain-google-vertexai==1.0.7
langchain-text-splitters==0.2.2
langchain-experimental==0.0.63
unstructured[all-docs]==0.15.0
pypdf==4.3.1
pydantic==2.8.2
lxml==5.2.2
pillow==10.4.0
matplotlib==3.9.1
opencv-python==4.10.0.84
tiktoken==0.7.0